@model IEnumerable<Hemma.Web.Models.LightSetting>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Belysning";
}

<div class="row">
    <div class="col-md-12">
        <h1>
            Belysning
        </h1>
    </div>
</div>
@foreach (var settingGroup in Model.GroupBy(item => item.Room))
{
    <div class="row">
        <div class="col-md-12">
            <h2>@settingGroup.Key</h2>
            @foreach (var setting in settingGroup)
            {
                <div class="light" data-room="@setting.RoomNormalized" data-lampa="@setting.LampaNormalized">
                    <h3>@setting.Lampa</h3>
                    <div class="btn-group" style="vertical-align:central">
                        <button class="changeLighting btn btn-default button-on" data-room="@setting.RoomNormalized" data-lampa="@setting.LampaNormalized" data-state="on">På</button>
                        <button class="changeLighting btn btn-default button-off" data-room="@setting.RoomNormalized" data-lampa="@setting.LampaNormalized" data-state="off">Av</button>
                        @if (!setting.DontCheckStatus)
                        {
                            <img class="belysning-loader" id="belysning-loader-@setting.RoomNormalized-@setting.LampaNormalized" src="~/Images/belysning-loader.gif" style="display:none;" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
<script>
    function setLightButtonStatus(data) {
        $(".changeLighting[data-room='" + data.room + "'][data-lampa='" + data.lampa + "']").removeClass('active');;
        $(".changeLighting[data-room='" + data.room + "'][data-lampa='" + data.lampa + "'][data-state='" + data.state + "']").addClass('active');
        $("#belysning-loader-" + data.room + "-" + data.lampa).hide();
    }
    $(function () {
        $.get("@Url.Action("UpdateLightStatus")");

        $(".light").each(function (index, value) {
            var lightgroup = $(value);
            var roomValue = lightgroup.attr('data-room');
            var lampaValue = lightgroup.attr('data-lampa');
            var loader = lightgroup.find(".belysning-loader");
            loader.show();

            $.get('@Url.Action("GetLightStatus")', {
                room: roomValue,
                lampa: lampaValue
            }, function (data, textStatus) {
                if (textStatus == "success") {
                    setLightButtonStatus(data);
                }
            }, "json");

        });

        $(".changeLighting").on('click', function (e) {
            var roomValue = $(e.target).attr('data-room');
            var lampaValue = $(e.target).attr('data-lampa');
            var stateValue = $(e.target).attr('data-state');

            $.post('@Url.Action("Ändra")', {
                room: roomValue,
                lampa: lampaValue,
                state: stateValue
            }, function (data, textStatus) {
                if (textStatus == "success") {
                    setLightButtonStatus({
                        room: roomValue,
                        lampa: lampaValue,
                        state: stateValue
                    });
                }
            }, "json");


        });
    });
</script>
