<!DOCTYPE html>

<html lang="sv-fi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body style="overflow:scroll">
    @if (string.IsNullOrWhiteSpace(Request.QueryString["nomenu"]))
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">Öfvre Gerby</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Belysning" ? "active" : "")">@Html.ActionLink("Belysning", "Index", "Belysning")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Temperatur" && ViewContext.RouteData.Values["action"].ToString() == "Mathias" ? "active" : "")">@Html.ActionLink("Mathias termometer", "Mathias", "Temperatur")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Temperatur" && ViewContext.RouteData.Values["action"].ToString() == "Kaj" ? "active" : "")">@Html.ActionLink("Kajs termometer", "Kaj", "Temperatur")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "UtomhusTemperatur" ? "active" : "")">@Html.ActionLink("Utomhustemperatur", "Index", "UtomhusTemperatur")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Analysis" ? "active" : "")">@Html.ActionLink("Analys", "Index", "Analysis")</li>
                        @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Nibe" ? "active" : "")">@Html.ActionLink("Värmepump", "Index", "Nibe")</li>*@
                        @if (Context.User.Identity.IsAuthenticated == true)
                        {
                            <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    }
    <div class="container-fluid">
        @RenderBody()
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
