<!DOCTYPE html>

<html lang="sv-fi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body style="overflow:scroll">
    @if (string.IsNullOrWhiteSpace(Request.QueryString["nomenu"]))
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">Hemma hos Rönnlunds</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Belysning" ? "active" : "")">@Html.ActionLink("Belysning", "Index", "Belysning")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Temperatur" && ViewContext.RouteData.Values["id"].ToString().Equals("Mathias", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Mathias termometer", "Index", "Temperatur", new { id = "Mathias" }, null)</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Temperatur" && ViewContext.RouteData.Values["id"].ToString().Equals("Kaj", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Kajs termometer", "Index", "Temperatur", new { id = "Kaj" }, null)</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Temperatur" && ViewContext.RouteData.Values["id"].ToString().Equals("Robban", StringComparison.CurrentCultureIgnoreCase) ? "active" : "")">@Html.ActionLink("Robbans termometer", "Index", "Temperatur", new { id = "Robban" }, null)</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "UtomhusTemperatur" ? "active" : "")">@Html.ActionLink("Utomhustemperatur", "Index", "UtomhusTemperatur")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Analysis" ? "active" : "")">@Html.ActionLink("Alla mätvärden", "Index", "Analysis")</li>
                        @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Nibe" ? "active" : "")">@Html.ActionLink("Värmepump", "Index", "Nibe")</li>*@
                        @if (Context.User.Identity.IsAuthenticated == true)
                        {
                            <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    }
    <div class="container-fluid">
        @RenderBody()
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </div>
    <div class="container-fluid" style="margin-top:30px;">
        <div class="row">
            <div class="col-xs-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-11 col-md-11 col-lg-11">
            </div>
        </div>
    </div>
    @if (Request.Url.ToString().IndexOf("://ronnlund.duckdns.org", StringComparison.CurrentCultureIgnoreCase) > -1 ||
                    Request.Url.ToString().IndexOf("://ronnlunds.duckdns.org", StringComparison.CurrentCultureIgnoreCase) > -1)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-30391632-2', 'auto');
            ga('send', 'pageview');

        </script>
    }
</body>
</html>
